*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f2027;
    color:white;
}

/* NAVBAR */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:rgba(0,0,0,0.6);
    position:fixed;
    width:100%;
    top:0;
    z-index:100;
}

.logo{
    font-size:22px;
    font-weight:600;
}

nav ul{
    list-style:none;
    display:flex;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav a:hover,
.active{
    color:#ffd700;
}

.login-btn{
    background:#ffd700;
    color:black;
    padding:6px 15px;
    border-radius:20px;
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding-top:80px;
}

/* BUTTON */
.btn{
    padding:12px 28px;
    border-radius:30px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.primary{
    background:#ffd700;
    color:black;
}

.secondary{
    border:2px solid #ffd700;
    color:#ffd700;
}

.btn:hover{
    transform:scale(1.1);
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#000;
    margin-top:50px;
}

/* RESPONSIVE */
@media(max-width:768px){
    nav{
        flex-direction:column;
        gap:10px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }
}
